/* <--- reset ---->  */
/* stylelint-disable*/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block
}

html {
  line-height: 1;
  height: 100%;
}

body {
  line-height: inherit;
  height: 100%;
}

ol, ul {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

/* stylelint-enable */

html {
  font-family: zeitung, sans-serif;
  line-height: 1.2em;
}

h1 {
font-weight: 700;
font-style: normal;
font-size: 2em;
margin: 2em 0 2em 0;
line-height: 1em;

}

h2 {
  font-size: 1em;
  font-weight: bold;
  margin: 2em 0 2em 0;
}

p {

  font-size: 1em;
}

.nav {
    background-color: #b2d4e7;
}

.nav li {
  float: left;
	padding: 14px 16px;
	color: #999a9a;
}

.nav li a {
	color: black;
  text-align: center;
}

.nav li:hover {
    background-color: #999a9a;
}

.active	{
	background-color: #999a9a;
}

#nav_bar	{
	display: grid;
	grid-template-columns: 10% auto;
}

img	{
	max-width: 100%;
	display: block;
	height: auto;
}

.map img {
  margin: 2em 0 2em 0;
}

section {
margin: 0 2em 2em 2em;
}

.FAQ img {
  margin-bottom: 2em;
  max-width: 70%;
}

#main_info	{
	display: flex;
	width: 80%;
}

#news	{
	width: 50%;
}
 #events	{
	width: 50%;
}

.members	{
	display: grid;
  	grid-template-columns: 50% 50%;
  	grid-column-gap: 1em;
	margin: auto;
}

footer {
  margin-top: 2em;
  background-color: #999a9a;
}

.footer {
 display: inline-flex;
 margin: 2em;
}

.footer li {
  margin-right:2em;
}

.fa {
    padding: 1em;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.cityservices {
  display: grid;
  grid-template-columns: 33% 33% 33%;

}
.column1 {
  display: grid;
  grid-column: 1;
}


h2 {
	font-weight: bold;
}

h3 {
	font-weight: bold;
}


img {

}
.history {
	margin: 10px;
}

.pres { grid-area: highest; }
.vp { grid-area: lower; }
.sec { grid-area: botleft; }
.treas { grid-area: botmid; }
.exec { grid-area: botright; }

.officers  {
  display: grid;
  margin: auto;
  grid-column-gap: 1em;
  grid-template-areas:
    '. highest .'
    '. lower .'
    'botleft botmid botright';
}

#bname1 { grid-area: n1;  }
#bname2 { grid-area: n2;  }
#bname3 { grid-area: n3;  }
#bname4 { grid-area: n4;  }
#bname5 { grid-area: n5;  }
#bname6 { grid-area: n6;  }
#btitle2 { grid-area: t2;  }
#btitle3 { grid-area: t3;  }
#btitle4 { grid-area: t4;  }
#btitle5 { grid-area: t5;  }
#btitle6 { grid-area: t6;  }

.board  {
  display: grid;
  grid-column-gap: 1em;
  margin: auto;
  grid-template-areas:
  'n1 n2 n3 n4 n5 n6'
  '. t2 t3 t4 t5 t6';
}

/* Media Queries */

/* Smartphones  ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 767px) {
/* Styles */

.FAQ img {
  margin-bottom: 2em;
  max-width: 100%;
}
}


/* Medium ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px) {
/* Styles */
}


/* Big ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}
