ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b2d4e7;
}

li {
    float: left;
	display: block;
	padding: 14px 16px;
	color: #999a9a;
}

li a {
	display: block;
	color: black;
    text-align: center;
    text-decoration: none;
}

li:hover {
    background-color: #999a9a;
}

.active	{
	background-color: #999a9a;
}

.font	{
	font-family: zeitung-micro, sans-serif;
	font-style: normal;
	font-weight: 100;
	color: black;
}

#nav_bar	{
	display: grid;
	grid-template-columns: 10% auto;
}

img	{
	max-width: 100%;
	display: block;
	height: auto;
}

#main_info	{
	display: flex;
	width: 80%;
	margin: auto;
}

#main_color	{
	display: block;
	background-color: #b2d4e7;
}

#news	{
	width: 50%;
}

#events	{
	width: 50%;
}
